.link {
    &.active {
        cursor: pointer;

        .bar {
            width: 40%;
            background-color: #FAFAFA;
        }

        span {
            color: #45FFCA;
        }
    }

    @media (max-width: 1024px) {
        .bar {
            width: 17.5%;
        }

        span {
            font-size: 0.75rem;
        }

        &.active {
            .bar {
                width: 35.5%;
            }
        }
    }
}
